.header {
  padding: 1rem;
  background: black;
  color: white;
  font-family: sans-serif;
}

.header a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

.header a:first-child {
  margin-left: 0;
}

.header a:hover {
  color: orange;
  text-decoration: underline;
}

.l-container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 75em;
}
